$black: #06000a;
$black-light: #272D2D;
$blue-light: #8AB0AB;
$green-light: #A1CCA5;
$grey-dark: #363537;
$grey-light: #e6e6e8;
$grey-disabled: #6c757d;
$purple: #300032;
$red: #c43235;
$red-light: #C47577;
$yellow: #FFBF00;
$pink: #EA526F;
$blue: #258EA6;
$border-block: #CCCCCE;

$body-bg: $grey-light !important; 
$navbar-bg: white;
$navbar-height: 56px;
$body-color: $black;

$theme-colors: (
  primary: $blue,
  danger: $red
);

$link-disabled-color: #A2A2A2;
$input-border-color: #CCCCCE;
$input-focus-border-color: #999;
$input-btn-focus-box-shadow: none;

$xxs-max: "only screen and (max-width: 479px)";
$xs-min: "only screen and (min-width: 480px)";
$xs-max: "only screen and (max-width: 767px)";
$xs-sm: "only screen and (min-width: 480px) and (max-width: 767px)";
$sm-min: "only screen and (min-width: 768px)";
$sm-max: "only screen and (max-width: 991px)";
$sm-md: "only screen and (min-width: 768px) and (max-width: 991px)";
$md-min: "only screen and (min-width: 992px)";
$md-max: "only screen and (max-width: 1199px)";
$md-lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$lg-min: "only screen and (min-width: 1200px)";
$lg-max: "only screen and (max-width: 1499px)";
$lg-xlg: "only screen and (min-width: 1200px) and (max-width: 1499px)";
$xlg-min: "only screen and (min-width: 1500px)";